<div class="page-header">
    <div class="background">
        
    </div>
    <div class="foreground">
        <div class="text">
            Hello World!
        </div>
    </div>
</div>
<div class="page-main">
    <div class="content">

    </div>
    <div class="sidebar">
        <div class="widget-bar">
            <div class="widget">
                <div class="widget-header">
                    Nächster Termin:
                </div>
                <div class="widget-content">
                    <div class="event-date">
                        20.07
                    </div>
                    <div class="event-name">
                        Sondernauer Backhausfest
                    </div>
                </div>
                <div class="widget-footer">
                    <a href="/events">Alle Events anzeigen</a>
                </div>
            </div>
        </div>
    </div>
</div>