<div class="page-header">
    <div class="row">
        <div class="col-md-12 background">
        
    </div>
    <div class="col-md-12 foreground">
        <div class="text">
            Hello World!
        </div>
    </div>
    </div>
</div>
<div class="page-main">
    <div class="row">
        <div class="col-md-10 content">
            
        </div>
        <div class="col-md-2 sidebar">
            <div class="widget-bar">
                <next-event></next-event>
            </div>
        </div>
    </div>
</div>