<div class="page-header">
    <div class="row">
        <div class="col-md-12 background">
        
    </div>
    <div class="col-md-12 foreground">
        <div class="text">
            Hello World!
        </div>
    </div>
    </div>
</div>
<div class="page-main">
    <div class="row">
        <div class="col-md-10 content">
            
        </div>
        <div class="col-md-2 sidebar">
            <div class="widget-bar">
                <div class="widget">
                    <div class="widget-header">
                        Nächster Termin:
                    </div>
                    <div class="widget-content">
                        <div class="event-date">
                            20.07
                        </div>
                        <div class="event-name">
                            Sondernauer Backhausfest
                        </div>
                    </div>
                    <div class="widget-footer">
                        <a href="/events">Alle Events anzeigen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>