.next-event-header {
    font: 20px 'Noto Sans';
    font-weight: 700;

    padding: 20px 0 20px 20px;

    border-bottom: 1px solid #e2e2e2;
}

.next-event-content {
    padding: 20px 0 20px 20px;
}

.next-event-content:hover {
    background-color: #e2e2e2;
}

.next-event-footer {
    font: 16px 'Noto Sans';

    border-top: 1px solid #e2e2e2;

    padding: 10px 0px 10px 20px;
}

.next-event-footer:hover {
    background-color: #e2e2e2;
}

.next-event-footer a {
    font: 16px 'Noto Sans';
    color: #3e3f3a;
}

.next-event-date {
    font: 18px 'Noto Sans';
    font-weight: 700;

    display: inline-block;
    padding-right: 20px;
}

.next-event-name {
    font: 16px 'Noto Sans';

    display: inline-block;
    padding-left: 20px;
}