
a:link, a:visited, a:hover, a:active { 
    color: #000000; 
}

.navbar {
    background-color: #222;
    border: 0;
}

.navbar-brand {
    height: 100%;
    
    font: 45px 'Noto Sans';
    color: #98978b !important;
}

.navbar-brand img {
    display: inline;
}

.navbar-nav {
    padding-top: 2.5%;
}

.footer {
    border-top: 1px solid #e2e2e2;
    
    background-color: #222;
    float: left;
}